{% extends 'base.html.twig' %}

{% block body %}
<blockquote>
    <h1><span>Le Conte Merveilleux</h1>
<div style = "font-size:80%">Le conte merveilleux est plus souvent connu sous sa forme littéraire des "contes de fées".</br>
Mais on ignore souvent que cette forme littéraire tire son origine de la tradition orale. </br>
Or de très nombreuses sources sont maintenant disponibles pour explorer ce vaste domaine de la "forêt des contes" tels qu'ils étaient racontés avant d'être transfomés par des écrivains.
</div>
</br>
<p style = "font-size:110%"> Ce site est dédié à la recherche et à la mutualisation des connaissances sur les contes merveilleux <strong> de la tradition orale.</strong></p>
<div style = "font-size:80%">
<p> Il a pour ambition de faciliter l'accès aux collectes anciennes de contes, de plus en plus souvent disponibles sur le web, mais non regroupées de façon systématique. </p>
<P> Il est destiné à s'enrichir au fil du temps pour constituer un vaste outil documentaire
à la disposition : </br>
- des conteu.r.se.s pour enrichir leur répertoire ;</br>
- des enseignant.e.s, qui souhaitent faire travailler différentes versions d'un conte à leur élèves ;</br>
- des chercheu.r.se.s en littérature orale, </br>
- ou tout simplement des amoureu.x.se.s du conte merveilleux.
</p>
<p style = "font-size:90%">
Chacun.e peut y contribuer en partageant ses propres informations, dans un esprit coopératif. </br>Pour toute proposition de coopération ou suggestions : contact( at )le-conte-merveilleux.fr
</div>
</br>
<h4><strong>Sources des données</strong></h4>
<div style = "font-size:75%">
Ce site intégre des données issues du catalogue du conte merveilleux français de <strong>Paul Delarue et Marie-Louise Tenèze</strong>.</p>
<p> Cette oeuvre monumentale et fondamentale pour le monde du conte est maintenant placée sous licence Creative Common
 <a href = "https://creativecommons.org/licenses/by-nc-sa/3.0/fr/">CC-BY-NCSA 3.0 FR </a>
conformément aux accords de cession de droit signés avec les auteurs et ayants-droits.
<a href = "https://cahier.hypotheses.org/edition-electronique-de-contes-populaires-francais-e-conte">(Source) </a></p>
<p><strong>Cette licence interdit formellement toute utilisation commerciale de cette oeuvre.</strong></p>
<p> La présentation qui est donnée ici permet une consultation beaucoup plus facile des données du catalogue ; </br>elle est associée à d'autres outils documentaires qui enrichissent l'oeuvre (dans l'esprit de la licence Creative Common).</p>
<p> <style = "font-size:70%"> Conformement à la licence Creative Common, ce site se place dans les mêmes conditions et le logiciel correspondant est déposé sur un site de logiciel libre.</style></p>
</br>

<p> Ce site intégre les données du <strong>Motif-Index de Stith thompson</strong>, qui sont maintenant passées dans le dommaine public.
Bien que ces données soient disponibles sur de nombreux sites, elles sont rarement associées à une base de données qui facilite les recherches.
Sur ce site, ces données sont consultables avec un outil de recherche qui permet des requêtes par auteur et par mot clef.
Chaque fois qu'ils ont été trouvés, les liens vers des versions en ligne des ouvrages cités par le Motif-Index sont proposés.</br></br>
L'intégration de ces outils de recherche avec le catalogue Delarue-Tenèze et une base de données des ressources documentaires sur les contes
font de ce site un outil particulièrement efficace pour explorer rapidement et facilement le vaste domaine du conte merveilleux de la tradition orale.

</br></br>
<h4><strong>Narratologie</strong> et approches théoriques de l'organisation narrative des contes merveilleux</h4>
Ce site intégre une partie théorique sur l'organisation narrative des contes merveilleux. </br>
Cette section est inspirée, pour l'essentiel, du travail théorique fondamental réalisé par <strong>Marie-Louise Tenèze</strong> et publié dans l'ouvrage :</br>
<strong>Les contes merveilleux français - Recherche sur leurs organisations narratives - Maisonneuve & Larose, 2004</strong>
<p>Le catalogue Delarue/Tenèze a en effet été constitué sur des critères empiriques qui ne permettent </br>
- ni une classification rationnelle des contes recensés, </br>
- ni une classification rationnelle des éléments ou motifs qui composent un conte.</br></br>
En présentant les bases d'une <strong>nouvelle narratologie du conte merveilleux</strong>, </br>
on espère contribuer à une meilleure compréhension du genre merveilleux et de ses structures fondamentales</br>
pour faciliter la classification des contes et de leurs éléments de sorte à permettre des explorations informatiques plus faciles </br>
et rendre possible, sur le contenu des contes, des recherches considérées jusqu'à lors comme fastidieuses ou infaisables.

</div>
</blockquote>
{% endblock %}
