{% extends 'base.html.twig' %}

{% block body %}

    <h3><span>Compléments d'information</h3>
    <table class="table table-striped">
    <thead>
    <tr>
        <th>Conte Type {{conteTypeCode }}</th>

    </tr>
    </thead>


    {# include fichierHtml #}
    {% include 'DT:CatalogueBundle:C:AT300.HTM' %}
    </tbody>



</table>



{% endblock %}
