{% extends 'base.html.twig' %}

{% block body %}

    <h3><span>Catalogue Delarue Teneze</h3>
    <table class="table table-striped">
    <thead>
    <tr>
        <th>Conte Type</th>
        <th>Elements du conte</th>
        
    </tr>
    </thead>
    <tbody>
    {% for element in edc %}
        <tr>
            <td> {{ element.description }} </td>

           
        </tr>
    {% endfor %}
    </tbody>



</table>
    


{% endblock %}