{% extends 'base.html.twig' %}

{% block body %}

    <h3><span>Essais</h3>

    {{ form_start(formAT)  }}

    {{ form_widget(formAT) }}
    <br/>
    <button type="submit" class = "pure-button" name = "submit_nat">Rechercher</button>

    {{ form_end(formAT) }}
    <br/>


{% endblock %}
