{% extends 'base.html.twig' %}

{% block body %}

    <h3><span>Catalogue Delarue Teneze</h3>
    <table class="table table-striped">
    <thead>
   File =  {{ file}}
    </thead>
    <tbody>

    
<p>
   <a href="\pdf\DT_AT300_Versions\AT300 _DT_ Version_18.pdf">PDF</a>
 
 <a href="{{file}}">{{file}}</a>
 
 </p>
</object>
    </tbody>

{% endblock %}