{% extends 'base.html.twig' %}

{% block body %}

    <h3><span>Catalogue Delarue Teneze</h3>
    <table class="table table-striped">
    <thead>
   File =  {{ file}}
    </thead>
    <tbody>
    
    </tbody>

{% endblock %}